/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary-black: rgb(11, 6, 0);
  --text-secondary-white: rgba(252, 250, 247, 1);
  --text-tertiary-grey: rgba(145, 149, 153, 1);
  --text-quaternary-grey-light: rgba(222, 220, 217, 1);
  --accent-brown: rgba(123, 87, 39, 1);
  --accent-brown-40: rgba(123, 87, 39, 0.4);
  --accent-brown-20: rgba(123, 87, 39, 0.2);
  --accent-brown-light: rgba(209, 180, 140, 1);
  --accent-brown-light-20: rgba(209, 180, 140, 0.2);
  --error: rgba(177, 29, 15, 1);
  --success: rgba(85, 177, 15, 1);
  /* // Spacing  */
--spacing-0: 0;
/* // 4px */
--spacing-1: 0.25rem;   
 /* // 8px */
--spacing-2: 0.5rem;   
 /* // 12px */
--spacing-3: 0.75rem;  
/* // 16px */
--spacing-4: 1rem;      
/* // 20px */
--spacing-5: 1.25rem; 
/* // 24px */
--spacing-6: 1.5rem;    
/* // 32px */
--spacing-8: 2rem;     
  /* // 48px  */
--spacing-12: 3rem;  
 /* // 64px  */
--spacing-16: 4rem;   
 /* // 96px  */
--spacing-24: 6rem;   
/* // 128px  */
--spacing-32: 8rem;  
/* // 160px    */
--spacing-40: 10rem;    


/* // Typography */
--font-family-body: "Lora", serif;
--font-weight-reg: 400;
--font-weight-bold: 700;

/* // Размеры текста (body) */
/* // 10px */
--font-body-size-3xs:  0.625rem;   
/* // 12px */
--font-body-size-2xs: 0.75rem;   
/* // 14px */
--font-body-size-xs: 0.875rem;   
/*  // 16px */
--font-body-size-s: 1rem; 
/* // 20px       */
--font-body-size-m: 1.25rem;
/* // 24px      */
--font-body-size-l: 1.5rem;  
  /* // 32px     */
--font-body-size-xl: 2rem;     

/* // Семейство и размеры заголовков */
--font-family-title: "Caveat", serif;
 /* // 20px */
--font-title-size-xs: 1.25rem;  
/* // 24px */
--font-title-size-s: 1.5rem;     
  /* // 32px */
--font-title-size-m: 2rem;     
 /* // 40px */
--font-title-size-l: 2.5rem;   
/* // 48px  */
--font-title-size-xl: 3rem;      
/* // 64px */
--font-title-size-2xl: 4rem;     
  /* // 96px */
--font-title-size-3xl: 6rem;   

/* // Radius */
/* // 8px */
--radius-s: 0.5rem;    
 /* // 12px */
--radius-m: 0.75rem;   
 /* // 16px */
--radius-l: 1rem;      


/* // SVG / Icon sizes */
/* // 24px */
--small: 1.5rem;      
   /* // 32px   */
--medium: 2rem;    
 /* // 36px   */
--large: 2.25rem;  
 /* // 60px     */
--xlarge: 3.75rem;     

/* // Border/shadows */
--boxShadow: 0px 0px 16px rgba(209, 180, 140, 0.5);

}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
      }
      }*/
      
      @-ms-viewport {
        width: device-width;
      }
      
      
      @layer components {
        .bg-custom-brown {
          background-color: var(--accent-brown);
          color: var(--text-secondary-white);

        }
        .customFlex{
          display: flex;
          gap: var(--spacing-5);
        }
        .body-text-small{
          font-size: var(--font-body-size-s);
        }
        .image-bg{
          background-image: url('/mainBg.jpg');
            @apply bg-cover bg-center bg-no-repeat;
        }
        .iconCustom{
          color:var(--accent-brown);
          border-radius: var(--radius-s);
          @apply hover:text-[var(--accent-brown-light)] transition-colors duration-500;
        }
         .textCustom{
         @apply hover:text-[var(--accent-brown)] transition-colors duration-500;
      }
      .btnCustom{
        background-color: var(--accent-brown);
        color: var(--text-secondary-white);
        @apply w-44 h-10 hover:bg-[var(--accent-brown-light)] transition-colors duration-500
      }
      .floatingEl{
         position: absolute;
        top: -4px;
        right: -12px;
        background: var(--error);
        color: var(--text-secondary-white);
        border-radius: 10px;
        min-width: 20px;
        height: 20px;
        font-size: var(--font-body-size-3xs);
        font-weight: var(--font-weight-bold);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        padding: 0 4px;
      }
      h1, h2, h3, h4, h5, h6 {
     @apply font-heading;
    }
  h1{
    font-size: var(--font-title-size-2xl);
    color: var(--accent-brown);
  }
  h2{
    font-size: var(--font-title-size-xl);
    color: var(--accent-brown);
  }
  h3{
     font-size: var(--font-title-size-m);
  }
  .textSmall{
    font-size: var(--font-body-size-xs);
    color: var(--text-tertiary-grey);
  }
  .productCart{
    width: 24.5rem;
    /* height: 33.75rem; */
  }

  .container{
    display: flex;
    flex-direction: column;
    max-width: 76.5rem;
  }
      }
     
      html,
      body {
  background: var(--background);
  color: var(--foreground);
   height: 100%;
  overflow-x: hidden;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
